<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>お問い合わせ</title>
    <link href="./me_mailform/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./me_mailform/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="./me_mailform/assets/js/jquery-1.11.3.min.js" charset="UTF-8" type="text/javascript"></script>
    <script src="./me_mailform/assets/js/memf.js" charset="UTF-8" type="text/javascript"></script>
  </head>
  <body>
    <div class="container">
      <h1>お問い合わせ</h1>
      <form name="me_mailform" action="index.php" method="post">
        <div id="error_message" class="alert alert-error">入力内容に誤りがあります。</div>
        <table class="table table-striped">
          <tr>
            <th>お問い合わせ内容 <span class="label label-important">必須</span></th>
            <td><textarea name="comment" class="input-xxlarge" rows="10"></textarea>
              <div id="comment_error" class="alert alert-error">エラーメッセージ</div>
            </td>
          </tr>
          <tr>
            <th>お名前 <span class="label label-important">必須</span></th>
            <td>
              <input type="text" name="name" placeholder="例）山田 太郎" value="">
              <div id="name_error" class="alert alert-error">エラーメッセージ</div>
            </td>
          </tr>
          <tr>
            <th>メールアドレス <span class="label label-important">必須</span></th>
            <td><input type="text" name="email" class="input-xlarge" placeholder="例）info@example.com" value="">
              <div id="email_error" class="alert alert-error">エラーメッセージ</div>
            </td>
          </tr> 
          <tr>
            <th>郵便番号</th>
            <td>
              <div class="input-prepend">
                <span class="add-on">〒</span><input type="text" name="zipcode" class="input-small" value="" onkeyup="memf.zipAddr('zipcode', '', 'addr')" placeholder="例）1000001" >
              </div>
              <div id="zipcode_error" class="alert alert-error">エラーメッセージ</div>
            </td>
          </tr>
          <tr>
            <th>住所</th>
            <td><input type="text" name="addr" class="input-xxlarge" value="" placeholder="例）東京都千代田区千代田1番1号">
              <div id="addr_error" class="alert alert-error">エラーメッセージ</div>
            </td>
          </tr>
<!--
          <tr>
            <th>ご用件 <span class="label label-important">必須</span></th>
            <td>
              <div><label><input type="radio" name="purpose" value="お見積依頼">
                  お見積依頼</label></div>
              <div><label><input type="radio" name="purpose" value="採用情報について">
                  採用情報について</label></div>
              <div><label><input type="radio" name="purpose" value="その他お問い合わせ">
                  その他お問い合わせ</label></div>
              <div id="purpose_error" class="alert alert-error">エラーメッセージ</div>
            </td>
          </tr>
          <tr>
            <th>ご職業</th>
            <td>
              <select name="work">
                <option value="">選択してください</option>
                <option value="学生">学生</option>
                <option value="主婦">主婦</option>
                <option value="会社員">会社員</option>
                <option value="会社役員">会社役員</option>
                <option value="自営業">自営業</option>
                <option value="公務員">公務員</option>
                <option value="パート・アルバイト">パート・アルバイト</option>
                <option value="その他">その他</option>
              </select>
              <div id="work_error" class="alert alert-error">エラーメッセージ</div>
            </td>
          </tr>
          <tr>
            <th>ご利用用途</th>
            <td>
              <label class="checkbox inline"><input type="checkbox" name="use[]" value="お問い合わせフォーム"> お問い合わせフォーム</label>
              <label class="checkbox inline"><input type="checkbox" name="use[]" value="アンケートフォーム"> アンケートフォーム</label>
              <label class="checkbox inline"><input type="checkbox" name="use[]" value="求人募集フォーム"> 求人募集フォーム</label>
              <div id="use_error" class="alert alert-error">エラーメッセージ</div>
            </td>
          </tr>
          <tr>
            <th>画像認証 <span class="label label-important">必須</span></th>
            <td>
              <img src="index.php?captcha" width="160" height="80" title="画像認証"><br>
              画像に表示されている文字を入力してください。<br>
              <input id="captcha" type="text" name="captcha">
              <div id="captcha_error" class="alert alert-error">エラーメッセージ</div>
            </td>
          </tr>
-->
        </table>
        <input type="submit" class="btn btn-primary" value="確認画面へ">
      </form>
      <p class="text-right"><span id="powered_by_me"></span></p>
    </div>
  </body>
</html>