<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>お問い合わせ送信完了</title>
    <link href="./me_mailform/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./me_mailform/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>お問い合わせ送信完了</h1>
      <div><span id="name"></span>様、お問い合わせありがとうございました。</div>
      <hr>
      <div><a href="/">トップページに戻る</a></div>
      <hr>
      <p class="text-right"><span id="powered_by_me"></span></p>
    </div>
  </body>
</html>